@page "/register"
@layout HeadlessLayout
@inherits RegisterPage

<PageTitle>Dima - Entrar</PageTitle>

<MudGrid Justify="Justify.Center">
    <MudItem xs="12" md="8" lg="6">
        <MudPaper Class="mud-with-full pa-8">
            <div class="d-flex justify-center pb-8 pt-8">
                <img src="imgs/dima.png" alt="Dima - Controle Financeiro" width="200">
            </div>

            <EditForm Model="@InputModel" OnValidSubmit="@OnValidSubmitAsync">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <MudTextField T="string" Label="E-mail" InputType="InputType.Email" HelperText="Campo obrigatório"
                    For="@(() => InputModel.Email)" @bind-Value="@InputModel.Email" />

                <MudTextField T="string" Label="Senha" InputType="InputType.Password" HelperText="Campo obrigatório"
                    For="@(() => InputModel.Password)" @bind-Value="@InputModel.Password" />

                <div class="d-flex mt-8 justify-center">
                    @if (IsBusy)
                    {
                        <MudProgressCircular Color="Color.Info" Indeterminate="true" Size="Size.Large" />
                    }
                    else
                    {
                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary"
                            StartIcon="@Icons.Material.Filled.PersonAdd" Style="width:250px">
                            Cadastrar
                        </MudButton>

                        <MudSpacer />

                        <MudButton Variant="Variant.Filled" Color="Color.Secondary" Href="/login" Style="width:250px"
                            StartIcon="@Icons.Material.Filled.Login">
                            Já tenho uma conta
                        </MudButton>
                    }
                </div>

            </EditForm>
        </MudPaper>
    </MudItem>
</MudGrid>